READING_LLM_PROVIDER="codex"
READING_CODEX_MODEL="gpt-5.6-luna"
READING_CODEX_EFFORT="low"
READING_PERSONALIZE="0"
READING_BACKGROUND_REFRESH="0"
READING_WEREAD_LIVE_DISCOVERY="0"
READING_WECHAT_ENABLED="0"
READING_ZHIHU_ENABLED="0"
READING_AD_REVIEW="0"
FLOMO_INCOMING_API_URL=""
